@tailwind base;
@tailwind components;

@font-face {
    font-family: "Cabin";
    src: url('/fonts/Cabin/cabinmedium.ttf');
    font-family: "Josefin";
    src: url('/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf')
}

@tailwind utilities;






