@tailwind base;
@tailwind components;
@tailwind utilities;

.bulb1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 20px #fff, 0px 0px 100px 30px #ff0, 0px 0px 150px 40px #f80;
  }

.bulb2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 20px #fff, 0px 0px 100px 30px rgb(107 114 128), 0px 0px 150px 40px rgb(156 163 175);
}